@import "./_colors.scss";

*{
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: $gris;
    button{
        cursor: pointer;
    }
}
main{
    margin: .5rem;
    padding: .5rem;
    background-color: $blanco;
    border-radius: 20px;
}
.app__title{
    text-align: center;
    margin: 0;
    color: $azul;
    grid-area: title;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: .8rem;
    color: black;
    img{
        width: 20px;
        margin-left: .5rem;
    }
}

@media screen and (min-width: 860px){
    main{
        display: grid;
        margin: .5rem auto;
        max-width: 960px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 60px 1fr;
        grid-template-areas: "title title" "tasks pomodoro";
        height: calc(100vh - 3rem);
    }
    .pomodoro__section, .tasks__section{
        padding: 1rem;
        height: 100%;
    }
}