@import "./_colors.scss";

.timer__panel{
    font-weight: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 99;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        background-color: $blanco;
        padding: 1rem;
        border-radius: 1.5rem;
        width: 300px;
        label{
            display: block;
        }
        input{
            display: block;
            height: 2rem;
            width: 100%;
            border-radius: 1.5rem;
            margin: 1rem 0;
            border: none;
            padding: .5rem 1rem;
            font-size: 1.2rem;
        }
        div{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            button{
                cursor: pointer;
                font-weight: 500;
                width: 45%;
                border-radius: 1.5rem;
                height: 2rem;
            }
            #submit_timer{
                background-color: $azul;
                border: none;
                color: $blanco;
            }
            #cancel_timer{
                border: 2px solid $azul;
                background-color: $blanco;
                color: $azul;
            }
        }
    }
    &.active{
        opacity: 1;
        visibility: visible;
    }
}